@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#1a1e22), to(#24292e));
  background: linear-gradient(#1a1e22 0%, #24292e 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.form .icon .fa {
  font-size: 4.7rem;
  color: #4c69fa;
}

.form form {
  max-width: 600px;
  text-align: center;
  padding: 2rem;
  margin-bottom: 70px;
}

.form form label {
  font-size: 2.4rem;
  font-weight: 500;
  color: #f8f8f8;
  margin: 2rem;
  display: block;
}

.form form input {
  border-radius: 5px;
  background: #26303c;
  width: 100%;
  max-width: 500px;
  color: #6883fd;
  font-family: 'Fira Code', monospace;
  text-align: center;
  border: none;
  outline: 0px;
  padding: 1.2rem;
  font-size: 1.8rem;
}
